@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: #161616;
    --foreground: #ededed;
    --highlight: #93c5fd;
    --link: #93c5fd;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #161616;
        --foreground: #ededed;
        --highlight: #93c5fd;
    }
}

html {
    scroll-behavior: smooth;
}
body {
    color: var(--foreground);
    background: var(--background);
}

nav {
    position: sticky;
    top: 0;
    padding: 10px;
    background-color: var(--background);
    z-index: 1000;
}

/* Ancho del scroll */
::-webkit-scrollbar {
    width: 4px;
}

/* Color del fondo de la barra */
::-webkit-scrollbar-track {
    background: transparent;
}

/* Color y forma del "pulgar" de la barra */
::-webkit-scrollbar-thumb {
    @apply bg-gray-600;
}

/* Cambiar color cuando se pasa el mouse */
::-webkit-scrollbar-thumb:hover {
    background: var(--foreground);
}

.highlight {
    color: var(--highlight);
    opacity: 1;
}

/*---------------- function plot ------------------*/

.origin {
    stroke: white;
}

.x.axis .domain,
.x.axis .tick line {
    stroke: var(--background);
}

.y.axis .domain,
.y.axis .tick line {
    stroke: var(--background);
}
