@import "tailwindcss";
@plugin "@tailwindcss/typography";

:root {
  --background: #161616;
  --foreground: #ededed;
  --highlight: #93c5fd;
  --link: #93c5fd;
  --color: {
    color: var(--foreground);
  }
}

html {
  scroll-behavior: smooth;
}
body {
  color: var(--foreground);
  background: var(--background);
}

nav {
  position: sticky;
  top: 0;
  padding: 10px;
  background-color: var(--background);
  z-index: 1000;
}

/* Ancho del scroll */
::-webkit-scrollbar {
  width: 4px;
}

/* Color del fondo de la barra */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Color y forma del "pulgar" de la barra */
::-webkit-scrollbar-thumb {
  @apply bg-gray-600;
}

/* Cambiar color cuando se pasa el mouse */
::-webkit-scrollbar-thumb:hover {
  background: var(--foreground);
}

.highlight {
  color: var(--highlight);
  opacity: 1;
}

/*---------------- function plot ------------------*/

.origin {
  stroke: white;
}

.x.axis .domain,
.x.axis .tick line {
  stroke: var(--background);
}

.y.axis .domain,
.y.axis .tick line {
  stroke: var(--background);
}

.top-right-legend {
  opacity: 0;
}

.prose h1 {
  color: var(--foreground);
  font-weight: 700;
}

.prose h2 {
  color: var(--foreground);
  border-bottom: 1px solid var(--foreground);
}

.prose h3 {
  color: var(--foreground);
  border-bottom: 0px solid var(--foreground);
}

.prose strong {
  color: var(--highlight);
}

.prose p {
  color: var(--foreground);
}

.prose li {
  color: var(--foreground);
}

.prose a {
  color: var(--link);
  text-decoration: underline;
}

.prose ol {
  margin-left: 1.5rem;
}

.prose li::marker {
  color: var(--foreground);
  font-weight: 700;
}
